langchain
python-dotenv  
langchain-openai
ipykernel
streamlit
google-genai
pydantic
langchain_huggingface
openai
langchain_ollama
neo4j 
qdrant-client>=1.7.0
pdfplumber
llama-index
llama-parse
sentence-transformers>=2.2.2
tiktoken>=0.5.0
langchain-qdrant
langchain-text-splitters
ragas